* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 10px black;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #fff;
}

nav div {
    display: flex;
    gap: 20px;
}

.button-primary {
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    background-color: rgb(57, 57, 57);
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.button-primary:hover {
    background-color: rgb(16, 16, 16);
}

.container-userslist {
    margin: auto;
    width: 90%;
}

.container-input {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os inputs */
    width: 100%;
    max-width: 700px; /* Largura máxima do container */
}

.container-input input[type='text'] {
    width: 100%;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container-datas {
    display: flex;
    gap: 20px; /* Espaçamento entre os inputs de data */
    width: 100%;
    justify-content: center;
}

.input-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Espaçamento entre o label e o input */
}

.input-data label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.input-data input[type='date'] {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.loading,
.error {
    border: 2px solid rgb(62, 62, 62);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    margin-top: 50px;
}

.error {
    color: red;
}

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.search-container {
    position: relative;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown {
    position: absolute;
    top: 25%;
    width: 50%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
